
/*Phần body*/
.wrap{
    padding-top: 10px;
}
.wrap-banner {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.bgIndex {
    background: #fff url('./../../../public/bgindex.jpg') no-repeat 50%/cover;
    height: 500px;
    width: 100%;
    position: relative
}
.wrap-banner .overlay {
    z-index: 1;
    position: absolute;
    background-color: rgba(0,0,0,.5);
    max-width: 70%;
    min-height: 5vw;
    padding: 5vw 8vw;
    text-align: center;
}
.overlay .overlay-header {
    font-weight: 800;
    font-size: 5vw;
    color: #FFFFFF;
    letter-spacing: 3px;
    margin: 0 0 1.5vw;
}
.overlay .overlay-content {
    font-size: 1.5vw;
    letter-spacing: 1.5px;
    color: white;
    padding-bottom: 1vw;
}
.overlay .overlay-button {
    padding: 1vw 0;
}
 
.overlay .overlay-button a {
    font-size: 1vw;
    text-align: center;
    padding: 0.5vw 1vw;
    background-color: #af9a7d;
    text-transform: uppercase;
    transition: 0.5s;
    border: 3px solid #af9a7d;
    color: black;
}
.overlay .overlay-button a:hover {
    background-color: #af9a7d2f;
    color: #af9a7d;
    text-decoration: none;
}
.line {
    height: 0.5vw;
    width: 30%;
    background-color: #af9a7d;
    margin: 1.2vw auto;
}


/*Section  - gallery */
.gallery{
    margin: 1vw 0 0 0 ;
    padding: 3vw 1vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery .gallery-body {
    border: 2px dotted #af9a7d;
    padding: 5px;
}
.gallery  h1 {
    font-weight: 800;
    letter-spacing: 6px;
    font-size: 5vw;
    margin:3vw 20px 0 20px;
}


/*Section - hot - room*/
.hot-room {
    text-align: center;
    margin: 3vw 0;
    height: auto;
    background-color: #cfcfcf;
    padding: 5vw 0;
}
.hot-room h1 {
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 3vw;
    margin-top: 20px;
    padding: 0.5vw 1vw;
}
.hot-room .slick {
    margin: 20px;
    height: 180px;
}
.slick .slick-card {
    display: flex;
    border: 2px solid #af9a7d;
    padding: 2rem;
    background-color: #cfc3b2;
    text-align: left;
}
.slick .slick-card h2 {
    text-transform:capitalize;
    margin: 0;
    font-weight: 800;
    font-size: 1.8vw;
    letter-spacing: 2px;
    margin-bottom: 1.2vw;
    margin-left: 0;
}
.slick .slick-card p {
    font-weight: 800;
    font-size: 1vw;
    margin-bottom: 0.5vw;
}
.slick .slick-card span {
    font-weight: 200;
    color: green;
}
.slick .slick-card a {
    border: 2px solid #af9a7d;
    padding: 5px 10px;
    background-color: #af9a7d;
    color: black;
    font-size: 0.8vw;
    transition: 0.5s;
}
.slick .slick-card a:hover {
    text-decoration: none;
    background-color: #af9a7d26;
    color: #685843;
}
.slick-card img {
    width: 100%;
    height: 120px;
    box-shadow: 3px 6px 4px 2px rgba(0,0,0,.5);
    border-radius: 5px;
}

@media screen and ( max-width: 500px) {
    .slick-card .slick-card-content {
        margin-top: 4vw;
    } 
}

.new-room .room-card{
    height: auto;
    padding: 10px 0;
    margin: 10px;
    border: 2px solid #af9a7d;
    background-color: #cfc3b2;
    transition: 0.5s;
}
.new-room .room-card:hover {
    transform: scale(1.05);
    background-color: #d6bd9e;
}
.imgmid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-room .room-card img{
    width: 200px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 3px 6px 4px 2px rgba(0,0,0,.5);
}
.room-card .room-card-content {
    text-align: left;
}
.room-card .room-card-content h2{
    font-weight: 800;
    letter-spacing: 2px;
    margin: 0 0 10px 0;
    font-size: 1.8vw;
}
.room-card .room-card-content p {
    font-weight: 800;
    margin: 0.3vw 0;
    font-size: 1vw;
}
.room-card .room-card-content p span {
    font-weight: 200;
    color: green;
}
.room-card .room-card-content a {
    border: 2px solid #af9a7d;
    padding: 3px 7px;
    background-color: #af9a7d;
    color: black;
    transition: 0.5s;
    font-size: 0.8vw;
}
.room-card .room-card-content a:hover {
    text-decoration: none;
    background-color: #af9a7d26;
    color: #685843;
}





/*Section 1 - room - type */
.room-type{
    width: 100%;
    margin: 5rem 0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.room-type .room-type-header {
    text-align: center;
    width: 60%;
}
.room-type .room-type-header h1 {
    font-size: 5vw;
    font-weight: 800;
    letter-spacing: 6px;
    margin: 0 0 0 0;
}
.type-wrap {
    margin: 0 5%;
    text-align: center;
}
.type-wrap .type-card {
    box-shadow: 2px 5px 3px 0 rgba(0,0,0,.5);
    transition: 0.5s;
}
.type-body img {
    width: 100%;
    z-index: -1;
    height: 200px;
    position: relative;
}
.type-body{     
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}
.type-body .type-price-top {
    background-color: rgba(0,0,0,.8);
    top: 0;
    max-width: 50%;
    padding: 8px 15px 0px 8px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    color: white;
}
.type-price-top h6 {
    font-size: 1vw;
}
.type-price-top p {
    font-size: 0.8vw;
}
.type-body:hover .type-price-top {
    display: none;
}
.type-body:hover {
    background-color: rgba(0, 0, 0, 0.568);
}
.type-card:hover {
    box-shadow: 5px 8px 6px 3px rgba(0,0,0,.5);
    transform: scale(1.05);
}
.type-body:hover .type-overlay {
    display: block;
}
.type-body .type-overlay{
    display: none;
    position: absolute;
}

.type-body .type-overlay a {
    font-size: 1vw;
    background-color: #af9a7d;
    border: 0.1vw solid #af9a7d;
    padding:0.8vw;
    transition: 1s;
    color: black;
}
.type-body a:hover {
    background-color: #af9a7d2d;
    color: #af9a7d;
    text-decoration: none;
}
.type-foot {
    padding: 7px 5px;
    background-color: #cfcfcf;
    font-weight: 800;
    letter-spacing: 1.5px;
    font-size: 1.5vw;
}
.type-foot img {
    width: 30px;
    height: 30px;
}



/*Section 2 - service */
.service{
    width: 100%;
    margin: 3vw 0;
    background-color: #cfcfcf;
    padding: 1.5vw 0 1.5vw 0;
}
.service .service-header {
    padding: 1vw 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service .service-header h1 {
    font-size: 5vw;
    font-weight: 800;
    letter-spacing: 6px;
    margin: 1vw;
    font-size: 1vw 0 0 0;
}
.service .service-line {
    width: 50%;
    margin: 0 auto;
}
.service .service-body {
    margin: 0 5%;
}
.service .service-card {
    text-align: center;
    margin-top: 20px;
    transition: 1s;
}
.service-card .service-card-header  {
    font-size: 4vw ;
    color: #af9a7d ;
    margin: 0 0 1vw;
}
.service-card .service-card-body h4{
    color: black;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 1.5vw;
    margin: 0 0 1.5rem;
}
.service-card .service-card-body p {
    letter-spacing: 2px;
    line-height: 2.5vw;
    font-size: 1vw;
}
.service-card:hover {
    transform: scale(1.04);
}



/*
Phần Modal
*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    background: url('../../../public/modalbg.jpg') 50%/cover no-repeat;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.5s
  }
  
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  .close {
    color: black;
    float: right;
    font-size: 2vw;
    font-weight: bold;
  }
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  #hot-icon {
      position: absolute;
      width: 6vw;
      top: 5%;
      left: 2%;
  }
  .modal-header {
    padding: 15px;
    background-color: white;
    color: black;
    text-align: center;

  }
  .modal-header h2{
      font-weight: 800;
      font-size: 2vw;
      padding-left: 30px;
  }
  
  .modal-body {
      padding: 2px 16px;
      margin: 15px;
      text-align: center;
      color: white;
  }

  .modal-body h3 {
      font-size: 1.5vw;
      color: white;
      font-weight: bold;
  }
  .modal-body p {
      margin: 0;
      font-size: 1vw;
  }
  .modal form {
      margin-top: 50px;
  }
  .modal .frm-gr {
      margin: 1vw;
  }
  .frm-gr label {
      width: 30%;
      text-align: left;
      font-size: 1vw;
  }
  .frm-gr input,textarea {
      max-width: 60%;
      font-size: 1vw;
  }
  .modal form button {
    color: black;
    margin-top: 1.2vw;
    padding: 5px 10px;
    border-radius: 4px;
    transition: 0.5s;
    font-size: 1vw;
    border: 1.5px solid black;
  }
  .modal form button:hover {
      background-color: transparent;
      color: white;
      border: 1.5px solid white;
  }




/*Phần footer */

.toTop-scrolled {
    position: fixed;
    right: 8vw;
    z-index: 100;
    font-size:5vw;
    bottom: 2vw;
    color: rgb(0, 0, 139);
    border-radius: 60;
    cursor: pointer;
    transition: 0.5s;
}
.messenger {
    position: fixed;
    right: 3vw;
    font-size: 5vw;
    bottom: 2vw;
    color: #0184FF;
    border-radius: 60;
    cursor: pointer;
}

/*Responsive*/
@media screen and ( max-width: 1025px) {
    .hot-room .slick {
        height: 220px;
    }
    .room-card .room-card-content {
        text-align: left;
    }
    .room-card .room-card-content h2{
        letter-spacing: 1px;
        margin: 0 0 5px 0;
        font-size: 1.5rem;
    }
    .room-card .room-card-content p {
        font-weight: 800;
        margin: 0.3vw 0;
        font-size: 1rem;
    }
    .room-card .room-card-content p span {
        font-weight: 200;
        color: green;
    }
    .room-card .room-card-content a {
        border: 1px solid #af9a7d;
        padding: 1px 4px;
        background-color: #af9a7d;
        color: black;
        transition: 0.5s;
        font-size: 1rem;
    }
    .slick .slick-card h2 {
        font-size: 1.8rem;
        letter-spacing: 1px;
        margin-bottom: 5px;
        margin-left: 0;
    }
    .slick .slick-card p {
        font-size: 1.2rem;
        margin: 10px 0;
    }
    .slick .slick-card a {
        border: 2px solid #af9a7d;
        padding: 5px 10px;
        margin-top: 20px;
        background-color: #af9a7d;
        color: black;
        font-size: 0.8vw;
        transition: 0.5s;
    }
    .slick-card img {
        max-width: 90%;
        max-height: 90%;
        box-shadow: 3px 6px 4px 2px rgba(0,0,0,.5);
        border-radius: 5px;
    }
    .service-card .service-card-body p {
        font-size: 1.5rem;
    }
    .service-card .service-card-body h4 {
        font-size: 2rem;
    }
}
@media screen and ( max-width: 860px) {
    .hot-room .slick {
        height: 170px;
    }
    .room-card .room-card-content {
        text-align: left;
    }
    .room-card .room-card-content h2{
        letter-spacing: 1px;
        margin: 0 0 5px 0;
        font-size: 1.5rem;
    }
    .slick .slick-card h2 {
        font-size: 1.5rem;
        letter-spacing: 1px;
        margin-bottom: 5px;
        margin-left: 0;
    }
    .slick .slick-card p {
        font-size: 0.8rem;
        margin-bottom: 5px;
    }
    .slick .slick-card a {
        border: 2px solid #af9a7d;
        padding: 3px 0.5vw;
        background-color: #af9a7d;
        color: black;
        font-size: 0.8vw;
        transition: 0.5s;
    }
    .slick-card img {
        max-width: 100%;
        max-height: 100%;
        box-shadow: 3px 6px 4px 2px rgba(0,0,0,.5);
        border-radius: 5px;
    }
    .service-card .service-card-body h4 {
        font-size: 1.7rem;
    }
    .service-card .service-card-body p {
        font-size: 1.2rem;
    }
}
@media screen and ( max-width: 430px) {

    .hot-room h1 {
        font-size: 2.2rem;
    }
    .hot-room .slick {
        height: 250px;
    }
    .line {
        margin: 15px auto;
    }
    .slick .slick-card {
        height: 250px;
        padding: 10px 20px;
        width: 250px !important;
    }
    .slick-card img {
         height: 100px;
    }
    .slick .slick-card span {
        font-size: 0.7rem;
    }
    .slick .slick-card p {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 14px;
    }
    .slick .slick-card span {
        font-size: 1rem;
        
    }
    .slick .slick-card a {
        font-size: 1.5rem;
        margin-left: 20%;
        padding: 2px 5px;
    }
    .slick-prev:before, .slick-next:before {
        font-size: 30px;
    }
    .new-room .room-card img {
        width: 80%;
    }
    .room-card .room-card-content h2{
        text-align: center;
    }
    .room-card .room-card-content p {
        text-align: center;
    }
    .room-card .room-card-content a {
        margin-left: 35%;
        font-size: 1.2rem;

    }
    .new-room .room-card{
        width: 90%;
        margin: 10px auto;
    }
    .type-body .type-price-top {
        width: 40%;
    }
    .type-price-top h6 {
        font-size: 1.5rem;
    }
    .type-price-top p {
        margin-bottom: 5px;
        font-size: 1.2rem;
    }
    .type-foot {
        font-size: 1.7rem;
        padding: 13px 0;
    }
    .room-type .room-type-header h1 {
        font-size: 2.5rem;
    }
    .service-card .service-card-body p {
        line-height: 2rem;
        font-size: 1rem;
    }
    .service-card .service-card-body h4 {
        margin-bottom: 5px;
    }
    .toTop-scrolled    {
        font-size: 5rem;
        bottom: 0.8rem;
        right: 7rem !important;
    }
    .type-body img {
        height: 150px;
    }
}